<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="/css/syntax.css">
			<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">	
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
	        		<li><a href="/posts">posts</a></li>
		        	<li><a href="/about">about</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			{% include analytics.html %}
			<footer>
	    		<ul>
	        		<li><b>dobeckmax /at/ gmail dotcom</b></li>
	        		<li><a href="https://github.com/maxdobeck">github.com/maxdobeck</a></li>
				</ul>
			</footer>
		</body>
	</html>
